@import url(common.css);

.mainpanel{
	margin-bottom: 50px;
	color: #FFF;
}
.mainpanel > h2{
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: left;
	text-decoration: none;
}
.abtSect{
	text-align: left;
	margin-bottom: 15px;
}
.aboutimg{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}